{% extends 'base.html'%}

{% block title %}
Home Page
{% endblock %}
<!--Body-->
{% block content %}
<div class="container">
    <h1 class="h3 mb-3 font-weight-normal">
        Header
    </h1>
    {% for title,desc,img,p_date,url in contents %}
    <div class="wrapper">
        <div class="item">
            <a href="{{url}}"><img src="{{img}}" alt="image" width="450" height="300"></a>
        </div>
        <div class="c-box">
            <div class="content"><a href="{{url}}"><h2>{{ title }}</h2></a></div>
            <div class="content"><a href="{{url}}"><p>{{ desc }}</p></a></div>
            <div class="content">
                <p style="color: lawngreen;">Published Date:</p>
                <p>{{p_date}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
    <h1 class="h3 mb-3 font-weight-normal">
        Main News
    </h1>
    {% for title,desc,img,p_date,url in all %}
    <div class="wrapper">
        <div class="item">
            <a href="{{url}}"><img src="{{img}}" alt="image"width="450" height="300"></a>
        </div>
        <div class="c-box">
            <div class="content"><a href="{{url}}"><h2>{{ title }}</h2></a></div>
            <div class="content"><a href="{{url}}"><p>{{ desc }}</p></a></div>
            <div class="content">
                <p style="color: lawngreen;">Published Date:</p>
                <p>{{p_date}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}